
<!-- About Wrapper Start -->
<div section-scroll='1'  class="wd_scroll_wrap">
<div class="wd_about_wrapper wd_toppadder90 wd_bottompadder70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wd_heading wow fadeInDown" data-wow-delay="0.3s">
					<img src="images/content/header.png" alt="Heading" class="img-responsive">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="wd_about_infobox wd_toppadder20">
					<div class="wd_about_infobox_img">
						<span><img src="images/content/line.png" alt="Line" class="img-responsive"></span>
						<img src="images/content/groom.png" alt="Upahar" class="img-responsive">
					</div>
					<h2>Upahar Sood</h2>
					<p>(S/o Mrs. Sangeetha & Mr. Praveen Sood)</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-21 col-xs-12 col-lg-push-4 col-md-push-4 col-sm-push-0">
				<div class="wd_about_infobox wd_toppadder20">
					<div class="wd_about_infobox_img">
						<span><img src="images/content/line.png" alt="Line" class="img-responsive"></span>
						<img src="images/content/radhika.png" alt="Radhika" class="img-responsive">
					</div>
					<h2>Radhika Verma</h2>
					<p>(D/o Mrs. Nandini & Mr. Pradeep Verma)</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-pull-4 col-md-pull-4 col-sm-pull-0">
				<div class="wd_about_infobox">
					<h1>Adventure Begins On</h1>
					<div class="wd_about_infobox_date">
						<h4>20 February 2018</h4>
						<a href="https://www.google.co.in/maps/place/Anantara+Kalutara+Resort">At Anantara Kalutara, Sri Lanka</a>
					</div>
					<div class="wd_btn wd_single_index_menu_rsvp">
						<a href="4">rsvp</a>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wd_timer_wrapper">
					<div class="wd_center_words">
					</div>
					<div id="clockdiv">
						<div><span class="days"></span><div class="smalltext">Days</div></div>
						<div><span class="hours"></span><div class="smalltext">Hours</div></div>
						<div><span class="minutes"></span><div class="smalltext">Minutes</div></div>
						<div><span class="seconds"></span><div class="smalltext">Seconds</div></div>
					</div>
					<div class="wd_center_words">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- About Wrapper End -->
