<!-- Event Wrapper Start -->
<div section-scroll='3'  class="wd_scroll_wrap">
<div class="wd_event_wrapper wd_toppadder90 wd_bottompadder50">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wd_heading wow fadeInDown" data-wow-delay="0.3s">
					<h1>Our Wedding Functions</h1>
					<img src="images/content/heading.png" alt="Heading" class="img-responsive">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wd_event_infobox">
					<h2>Pool Party</h2>
					<h3>20th February 2018</h3>
					<h1> 10:30 am - 4:00 pm</h1>
					<h3>Poolside, Anantara Kalutara</h3>
					<span>Attire: Whites with Bright colours</span>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wd_event_infobox">
					<h2>Sangeet</h2>
					<h3>20th February 2018</h3>
					<h1>7:30 pm</h1>
					<h3>Grand Ballroom, Anantara Kalutara</h3>
					<span>Attire: Indo western. Deep colour tones with bling</span>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wd_event_infobox">
					<h2>Girl's Chooda</h2>
					<h3>21st February 2018</h3>
					<h1>9:00 am</h1>
					<h3>Spice Traders, Anantara Kalutara</h3>
					<span>Attire: Traditional</span>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wd_event_infobox">
					<h2>Boy's Haldi</h2>
					<h3>21st February 2018</h3>
					<h1>10:30 am</h1>
					<h3>Upper Deck, Anantara Kalutara</h3>
					<span>Attire: Traditional</span>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wd_event_infobox">
					<h2>Sehra Bandi</h2>
					<h3>21st February 2018</h3>
					<h1>3:30 pm</h1>
					<h3>Lakeside, Anantara Kalutara</h3>
					<span>Attire: Traditional</span>
					<p></p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wd_event_infobox">
					<h2>Baraat</h2>
					<h3>21st February 2018</h3>
					<h1>4:00 pm</h1>
					<h3>Lakeside, Anantara Kalutara</h3>
					<span>Attire: Traditional</span>
					<p></p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wd_event_infobox">
					<h2>Pheras</h2>
					<h3>21st February 2018</h3>
					<h1>6:30 pm</h1>
					<h3>Lakeside, Anantara Kalutara</h3>
					<span>Attire: Traditional</span>
					<p></p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wd_event_infobox">
					<h2>After Party</h2>
					<h3>21st February 2018</h3>
					<h1>9:00 pm</h1>
					<h3>Grand Ballroom, Anantara Kalutara</h3>
					<span>Attire: Pastel Shades</span>
					<p></p>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Event Wrapper End -->
