
<!-- Footer Wrapper Start -->
<div class="wd_footer_wrapper wd_toppadder90 wd_bottompadder100">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="wd_footer_infobox">
					<div class="wd_footicon">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<h2>Phone</h2>
					<p>+ 91 9769640026 <br> +91 9920502283</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="wd_footer_infobox">
					<div class="wd_footicon">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
					<h2>Email Us</h2>
					<p>upaharandradhika@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wd_footer_bottom_wrapper wd_toppadder50 wd_bottompadder50">
	<a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>
	<div class="col-md-12">
		<div class="wd_footer_section">
			<img src="images/header/logo.png" alt="Logo" class="img-responsive">
			<p>@ Copyright 2017 All Rights Reserved. By Upahar and Radhika</p>
		</div>
	</div>
</div>
</div>
<!-- Footer Wrapper End -->
