<!-- Guest Wrapper Start -->
<div section-scroll='4'  class="wd_scroll_wrap" id="wd_contect_wrapper">
<div class="wd_guest_wrapper wd_toppadder90">
	<div class="wd_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wd_heading wow fadeInDown" data-wow-delay="0.3s">
					<h1>Rsvp</h1>
					<img src="images/content/heading.png" alt="Heading" class="img-responsive">
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="">
					<div class="wd_guest_form">
						<div class="row">
							<form>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label>Full Name :</label>
								<input type="text" name="full_name" placeholder="Full Name" class="require">
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label>Email :</label>
								<input type="text" name="email" placeholder="Email" class="require" data-valid="email" data-error="Email should be valid.">
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<label>Additional Members :</label>
								<select name="guest_no" class="require">
									<option value="0">00</option>
									<option value="1">01</option>
									<option value="2">02</option>
                  <option value="2">03</option>
                  <option value="2">04</option>
								</select>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="response"></div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="wd_btn">
									<button type="button" class="submitForm" form-type="inquiry">Submit</button>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        &nbsp;
      </div>
		</div>
	</div>
</div>
