
<!-- Story Wrapper Start -->
<div section-scroll='2'  class="wd_scroll_wrap">
<div class="wd_story_wrapper wd_toppadder90 wd_bottompadder90">
	<div class="wd_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wd_heading wow fadeInDown" data-wow-delay="0.3s">
					<h4>Jenny & Mark</h4>
					<h1>Our true love story</h1>
					<img src="images/content/heading.png" alt="Heading" class="img-responsive">
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wd_story_covers">
					<div class="wd_story_line"></div>
					<div class="wd_story_covers_box_left">
						<div class="wd_story_dot"><span></span></div>
						<div class="wd_story_covers_box_img">
							<img src="images/content/story_1.jpg" alt="Story">
						</div>
						<div class="wd_story_covers_box_datails">
							<span>20 May 2010</span>
							<h1>Our First Met</h1>
							<span>That day changed Life</span>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor...</p>
						</div>
					</div>
					<div class="wd_story_covers_box_right">
						<div class="wd_story_dot"><span></span></div>
						<div class="wd_story_covers_box_datails">
							<span>20 May 2010</span>
							<h1>Our First Dating</h1>
							<span>Our Best Dinner Ever</span>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor...</p>
						</div>
						<div class="wd_story_covers_box_img">
							<img src="images/content/story_2.jpg" alt="Story">
						</div>
					</div>
					<div class="wd_story_covers_box_left">
						<div class="wd_story_dot"><span></span></div>
						<div class="wd_story_covers_box_img">
							<img src="images/content/story_3.jpg" alt="Story">
						</div>
						<div class="wd_story_covers_box_datails">
							<span>20 May 2010</span>
							<h1>How he Proposed</h1>
							<span>That was so wonderful</span>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor...</p>
						</div>
					</div>
					<div class="wd_story_covers_box_right">
						<div class="wd_story_dot"><span></span></div>
						<div class="wd_story_covers_box_datails">
							<span>20 May 2010</span>
							<h1>Our First Kiss</h1>
							<span>Feeling Awesome :)</span>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor...</p>
						</div>
						<div class="wd_story_covers_box_img">
							<img src="images/content/story_4.jpg" alt="Story">
						</div>
					</div>
					<div class="wd_story_covers_box_left">
						<div class="wd_story_dot"><span></span></div>
						<div class="wd_story_covers_box_img">
							<img src="images/content/story_5.jpg" alt="Story">
						</div>
						<div class="wd_story_covers_box_datails">
							<span>20 May 2010</span>
							<h1>Now We Together</h1>
							<span>We're waiting for the best</span>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Story Wrapper End -->
