<!-- Testimonial Wrapper End -->
<div class="wd_testimonial_wrapper wd_toppadder70 wd_bottompadder70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wd_testimonial_slider">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="wd_testimo_box">
								<img src="images/content/heart.png" alt="Testimonial">
								<p>“ Better to have loved and lost, than to have never loved ”</p>
								<h4>~ Akshay H ~</h4>
							</div>
						</div>
						<div class="item">
							<div class="wd_testimo_box">
								<img src="images/content/heart.png" alt="Testimonial">
								<p>“ I look at you and see the rest of my life in front of my eyes. ”</p>
								<h4>~ Ajay S ~</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Testimonial Wrapper End -->
